* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contenedor_login {
	width: 100%;
	max-width:100%;
	margin:auto;
    position: relative;
    padding-top: 80px;
}

#particles-js {
	width: 100%;
	height:100%;
	position: fixed;
	background: rgb(7,2,94);
    background: -moz-linear-gradient(90deg, rgba(7,2,94,1) 0%, rgba(16,16,145,1) 45%, rgba(45,142,162,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(7,2,94,1) 0%, rgba(16,16,145,1) 45%, rgba(45,142,162,1) 100%);
    background: linear-gradient(90deg, rgba(7,2,94,1) 0%, rgba(16,16,145,1) 45%, rgba(45,142,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07025e",endColorstr="#2d8ea2",GradientType=1);
}

/* Principal */
.block_log1{

    background: rgb(35,90,117);
    background: -moz-radial-gradient(circle, rgba(35,90,117,1) 0%, rgba(16,86,145,1) 69%, rgba(45,108,162,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(35,90,117,1) 0%, rgba(16,86,145,1) 69%, rgba(45,108,162,1) 100%);
    background: radial-gradient(circle, rgba(35,90,117,1) 0%, rgba(16,86,145,1) 69%, rgba(45,108,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#235a75",endColorstr="#2d6ca2",GradientType=1);
    padding: 15px 30px 15px 30px;
    height: 500px;
    border-radius: 6px 0px 70px 6px; 
    color: white;
}
.block_log1-1{
    background-color: rgba(255, 255, 255);
    padding: 0;
    border-radius: 10px 0px 0px 10px;  
    height: 500px;
}

.block_log2{
    background-color: rgba(255, 255, 255);
    border-radius: 70px 6px 6px 0px;
    padding: 15px 20px 15px 20px;
    height: 500px;
}
.block_log2-2{
    background: rgb(35,90,117);
    background: -moz-radial-gradient(circle, rgba(35,90,117,1) 0%, rgba(16,86,145,1) 69%, rgba(45,108,162,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(35,90,117,1) 0%, rgba(16,86,145,1) 69%, rgba(45,108,162,1) 100%);
    background: radial-gradient(circle, rgba(35,90,117,1) 0%, rgba(16,86,145,1) 69%, rgba(45,108,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#235a75",endColorstr="#2d6ca2",GradientType=1);
    padding: 0;
    border-radius: 0px 10px 10px 0px;  
    height: 500px;

}
.logo{
    margin-top: 30px;
}
.logo img{
    display: block;
    margin: auto;
}
.error_mensaje{
   color: #a94442; 
}

.input-group {
    margin-top: 21px;
}

.input_login {
    height: 40px;
    border-radius: 5px;
}

.fa-sign-in{
    margin-left: 10px;
    font-size: 16px;
}
.btn_login{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid teal;
    font-size: 16px;
    margin-top: 20px;
}

.btn_login:hover{
   background-color: teal;
   border: 1px solid white;
   color: white;
}
.logo_umg{
    display: block;
    margin-right: auto;
    width: 50%;
}

.titulo_login{
    margin-top: 35px;
    margin-bottom: 40px;
}
.fa-line-chart{
    font-size: 60px;
}

.img_center{
    display: block;
    margin-left: auto;
}
.icon_user{
    font-size: 120px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

